<div class="container">
  <h2>Hello Angular World</h2>
  <p
    appStyle="green"
    [dStyles]="{ border: '1px solid #000', borderRadius: '5px' }"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, atque?
  </p>
  <p
    appStyle="red"
    [dStyles]="{ border: '2px solid blue', borderRadius: '15px' }"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, atque?
  </p>
  <button (click)="isVisible = !isVisible">Toggle</button>
  <!-- <div *ngIf="isVisible" class="wrap">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quidem
      voluptatibus nisi ipsam, dolorum deserunt inventore? Nam iusto sapiente
      totam.
    </p>
  </div> -->
  <!-- <ng-template [ngIf]="isVisible">
    <div class="wrap">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quidem
        voluptatibus nisi ipsam, dolorum deserunt inventore? Nam iusto sapiente
        totam.
      </p>
    </div>
  </ng-template> -->
  <!-- <div class="wrap" *appIfnot="!isVisible">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quidem
      voluptatibus nisi ipsam, dolorum deserunt inventore? Nam iusto sapiente
      totam.
    </p>
  </div> -->
  <ng-template [appIfnot]="!isVisible">
    <div class="wrap">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quidem
        voluptatibus nisi ipsam, dolorum deserunt inventore? Nam iusto sapiente
        totam.
      </p>
    </div>
  </ng-template>
</div>
