<div class="container">
  <h2>Hello Angular Pipes</h2>

  <!-- <p>{{ e | number: "1.1-5" }}</p>
  <p>{{ e | number: "3.1-2" }}</p>
  <p>{{ e | number: "1.0-0" }}</p> -->

  <!-- <p>{{ str | uppercase }}</p>
  <p>{{ str | uppercase | lowercase }}</p>
  <p>{{ str | uppercase | lowercase | titlecase }}</p>
  <p>{{ str | slice: 1 }}</p>
  <p>{{ str | slice: 1:5 }}</p>
  <p>{{ str | slice: 1:-2 }}</p> -->

  <!-- <p>{{ date }}</p>
  <p>{{ date | date }}</p>
  <p>{{ date | date: "fullDate" }}</p>
  <p>{{ date | date: "longDate" }}</p>
  <p>{{ date | date: "long" }}</p>
  <p>{{ date | date: "yyyy" }}</p>
  <p>{{ date | date: "MMMM yyyy" }}</p>
  <p>{{ date | date: "MMMM dd yyyy" }}</p>
  <p>{{ date | date: "MMMM dd yyyy, HH:mm:ss" }}</p> -->

  <!-- <p>{{ float }}</p>
  <p>{{ float | currency }}</p>
  <p>{{ float | percent }}</p>
  <p>{{ float | percent: "3.1-2" }}</p> -->

  <!-- <pre>{{ obj }}</pre>
  <pre>{{ obj | json }}</pre> -->

  <!-- <p>{{ 10 | mult }}</p>
  <p>{{ 10 | mult: 2 }}</p>
  <p>{{ 10 | mult: 3 }}</p>
  <p>{{ 10 | mult: 5 }}</p>
  <p>{{ 10 | mult: 8 }}</p>
  <p>{{ 10 | mult: 13 }}</p> -->

  <!-- <p>{{ "Hello World            " | exMarks }}</p> -->

  <!-- <button class="btn" (click)="searchField = 'title'">Title</button>
  <button class="btn" (click)="searchField = 'text'">Text</button>
  <hr />
  <button class="btn" (click)="addPost()">Добавить Пост</button>
  <input type="text" [(ngModel)]="search" />
  <div *ngFor="let post of posts | filter: search:searchField" class="card">
    <h2>{{ post.title }}</h2>
    <p>{{ post.text }}</p>
  </div> -->

  <p>Wait for it...{{ p | async }}</p>

  <!-- <p>Date: {{ date | async }}</p> -->
  <!-- <p>Date: {{ date | async | date: "HH:mm:ss" }}</p> -->
</div>
