.wrap {
  padding-top: rem;
  width: 500px;
  margin: 0 auto;
}

.box {
  margin: 3rem;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
