.post {
  width: 450px;
  border: 1px solid #ccc;
}

.yellow {
  background: yellow;
  font-size: 30px;
  color: #fff;
}

.green {
  background: green;
  font-size: 40px;
  color: #fff;
}
